.ARMSimLayout.xml
.gsd-keyboard.settings-ported
Arduino IDE/
Code/
kaggle/
Windsurf/
Docker Desktop/
GNOME-xdg-terminals.list
Kingsoft/
MongoDB Compass/
Postman/
PostmanAgent/
QtProject.conf
RStudio/
anuragrao_notes/
arduino-ide/
btop/
connections.db
dconf/
dleyna-renderer-service.conf
dleyna-server-service.conf
enchant/
eog/
evince/
evolution/
gedit/
gnome-boxes/
gnome-control-center/
gnome-initial-setup-done
go/
goa-1.0/
google-chrome/
gtk-3.0/
ibus/
libreoffice/
libvirt/
menus/
mimeapps.list
monitors.xml
monitors.xml~
nautilus/
neofetch/
okularrc
onlyoffice/
pulse/
qBittorrent/
ranger/
rclone/
rofi/
rstudio/
simple-scan/
tiling-assistant/
totem/
user-dirs.dirs
user-dirs.locale
vlc/
wireshark/
xdg-terminals.list
yelp/
org.gnome.Ptyxis/
zellij/
okularpartrc
